// input ranges mixins
@mixin slider-track($type) {
  @if ($type == "progress") {
    background: $clr-pink-lightest;
    height: 0.35rem;
    border-radius: 8px;
  }
  @if ($type == "volume") {
    background: $clr-pink-lightest;
    height: 0.2rem;
  }
}

@mixin slider-thumb($type) {
  @if ($type == "progress") {
    width: 0.8rem;
    height: 0.8rem;
    background-color: $clr-pink-lightest;
  }
  @if ($type == "volume") {
    width: 0.6rem;
    height: 0.6rem;
    background-color: $clr-pink-lightest;
  }
}

// end of input range mixins

body {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #8360c3, #2ebf91) no-repeat;
  // page wrapper styling
  .page--wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0 auto;

    main {
      display: grid;
      grid-template-rows: 1fr 11fr;
      width: 100%;
      height: 100%;
      margin: 8rem auto 0 auto;
      // player container
      .player--container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: $pink-border;
        border-radius: 50px;
        // song image div container
        .song__img {
          padding: 1.5rem;
          .music--icon {
            border-radius: 50%;
            font-size: 4rem;
            color: $clr-purple;
          }
        }
        // controls section
        .song--controls {
          width: 80%;
          span.current-song {
            display: block;
            text-align: center;
            text-transform: capitalize;
            width: 90%;
            color: $clr-purple;
          }
          input[type="range"].progress {
            -webkit-appearance: none;
            display: block;
            appearance: none;
            background: transparent;
            cursor: pointer;
            width: 85%;
            margin: 0 auto;
            // range track style
            &::-webkit-slider-runnable-track {
              @include slider-track("progress");
            }
            &::-moz-range-track {
              @include slider-track("progress");
            }
            // range thumb style
            &::-webkit-slider-thumb {
              @include slider-thumb("progress");
            }
            &::-moz-range-thumb {
              @include slider-thumb("progress");
            }
            // range fill style
            &::-moz-range-progress {
              background-color: $clr-purple;
              height: 0.35rem;
              border-radius: 8px;
            }
          }
          p.song--timer {
            display: flex;
            justify-content: space-between;
            font-size: 0.85rem;
            color: $clr-pink-lightest;
            span:first-child {
              margin-left: 2rem;
            }
            span:nth-child(2) {
              margin-right: 2rem;
            }
          }
          // controls
          .control__p {
            text-align: center;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 60%;
            margin: 0 auto;
            color: $clr-purple;
            .icon {
              cursor: pointer;
              &:hover {
                color: $clr-pink-lightest;
              }
            }
            .smaller {
              font-size: $text-small;
            }
          }
          .volume {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            .volume-icon {
              font-size: 0.5rem;
              color: $clr-pink-lightest;
              display: block;
            }
            // input range
            input[type="range"] {
              display: block;
              -webkit-appearance: none;
              appearance: none;
              background: transparent;
              cursor: pointer;
              width: 5rem;
              margin-left: 0.3rem;
              // range track style
              &::-webkit-slider-runnable-track {
                @include slider-track("volume");
              }
              &::-moz-range-track {
                @include slider-track("volume");
              }
              // range thumb style
              &::-webkit-slider-thumb {
                @include slider-thumb("volume");
              }
              &::-moz-range-thumb {
                @include slider-thumb("volume");
              }
              // range fill style
              &::-moz-range-progress {
                background-color: $clr-purple;
                height: 0.2rem;
              }
            }
          }
        }
      }
      // playlist container
      .playlist--container {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        article {
          display: flex;
          justify-content: space-between;
          border: {
            bottom: $pink-border;
            left: $pink-border;
            right: $pink-border;
            radius: 5px;
          }
          padding-block: 1.1rem;
          // border-radius: 8px;
          font-weight: 600;
          color: #361134;
          cursor: pointer;
          &:first-of-type {
            border-top: $pink-border;
            border-radius: 5px;
          }
          &.highlighted {
            background-color: #f5ecf987;
          }
          &:hover {
            background-color: #f5ecf987;
          }
          // &:last-child {
          //   border-bottom: none;
          // }
          p.song--name {
            // color: #eee;
            margin-left: 1rem;
            span:nth-child(2) {
              font-size: $text-small;
            }
          }
          p.song--duration {
            // color: #eee;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
