// variables
$md: 50em;
$text-small: 0.8rem;
// border colors
$border-purple: 1px solid #f278e2;
$border-pink: 1px solid #e0b1cb;
$border-pink-light: 0.7px solid #e0b1cb;

// colors
$clr-pink-lightest: #fff3f0;
$clr-purple: #420039;
$clr-purple-light: #770468;

@mixin responsive($size) {
  @media (min-width: $size) {
    @content;
  }
}

// border-color mixin
@mixin border-clr($var) {
  border: {
    right: $var;
    left: $var;
    bottom: $var;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// mobile view
@import "mobile";
// medium to large screens
@include responsive($md) {
  @import "web-view";
}
